*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway,sans-serif !important;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Raleway', sans-serif;
}





.main-header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 100px;
	z-index: 99;
}
.category-container-custom {
	width: 92%;
	height: 100px;
	margin: auto;

}
#padding {
	padding-left: 50px;
	padding-right: 50px;
}
#logo {
	width: 490px;
	height: 75px;
	background: #fff;
	margin-top: 8px;
}

.bi.bi-list {
	font-size: 38px;
	color: #000;
}

.menu-box {
	width: 300px;
	height: 100vh;
	background: #fff;
	position: absolute;
	margin-top: 38px;
	margin-left: -50px;
	overflow: auto;
	padding-bottom: 20px;
}




.brand-logo {
	width: 101px;
	height: 130px;
	padding-top: 10px;
}

.order-through {
	width: 330px;
	height: 53px;
	float: left;
	
}
.order-option {
	width: 330px;
	height: 36px;
	display: flex;
}

.delivery {
	border: 3px solid red;
	padding: 4px 23px;
	border-radius: 8px;
	font-weight: bold;
	font-size: 14px;
}
.picup {
	padding: 4px 23px;
	border-radius: 8px;
	font-weight: bold;
	font-size: 14px;
	margin-left: 10px;
}

.bucket {
	width: 60px;
	height: 87px;
	display: flex;
	margin-right: 65px;
}

.bucket-box {
	display: contents;
}

.login {
	color: #fff;
	background: red;
	text-align: center;
	width: 77px;
	height: 41px;
	border-radius: 7px;
	padding: 10px;
	font-weight: bold;
	margin-top: 21px;
	cursor: pointer;
}

.bg-image img {
	width: 100%;
	height: auto;
}


.menu-log {
	border: 2px solid #EA002A;
	width: 78px;
	height: 40px;
	background: #EA002A;
	color: #fff;
	border-radius: 7px;
	margin-left: 33px;
	margin-top: 25px;
	padding: 5px;

}
	

.menu-log span {
	text-align: center;
	font-weight: bold;
	
}
.thame-color {
	width: 131px;
	height: 36px;
	border-radius: 17px;
	background: white;
	display: flex;
	padding: 0;
	right: 10px;
	top: 129px;
	position: absolute;
}
.theme-button-dark.color-white {
	border-radius: 20px;
	width: 55px;
	background: red;
}

.theme-button-light {
	border-radius: 20px;
	width: 65px;
	background: white;
	border: none;
}
.dot {
	border: .5px solid;
	margin-top: 125px;
	width: 270px;
	margin-left: auto;
	margin-right: auto;
}
.list {
	padding: 16px;
}

li {
	margin-bottom: 25px;
}
.anker {
	text-decoration: none;
	font-weight: bold;
	font-size: 19px;
	color: #000;
}

.side-hover:hover {
	margin-bottom: 10px;
	width: 250px;
	height: 40px;
	background: #00000057;
	transform: scale(1.1);
	
}

.dot-1 {
	border: .5px solid;
	margin-top: 10px;
	width: 270px;
	margin-left: auto;
	margin-right: auto;
}

.side-hover a {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	margin-left: 16px;
	margin-bottom: 15px;
	display: block;
}

.text-center button {
		width: 615px;
		height: 35px;
		background: #EA002A;
		color: white;
		font-size: 15px;
		font-weight: bold;
		border: none;
		border-radius: 5px;
		margin-top: 20px;
}

.text-center button:hover {
	box-shadow: 5px 5px 10px #8888887b;
}


.body-design {
	padding-left: 100px;
	padding-right: 100px;
}


.title {
	font-weight: bold;
	font-size: 30px;
	position: absolute;
}
.dotted {
	width: 260px;
	height: 55px;
	margin-top: 100px;
}
.menu-dot {
	width: 86px;
	border: 2px solid #EA002A;
	position: absolute;
	margin-top: 50px;
}

.browser-container {
	width: 100%;
	height: 280px;
}

.i-div {
	width: 250px;
	height: 230px;
	margin-top: 38px;

}
.i-main a {
	text-decoration: none;
	
}
.i-main {
	width: 200px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50% 50% 5px 50%;background: #ad4343be;
}

.product h6 {
	text-align: end;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.product {
	width: 185px;
	height: 187px;

}

.fb-dot {
	
	width: 50px;
	border: 2px solid #EA002A;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

 
.item:hover{
	margin-top: -20px;
	transition: all .5s;
	width: 180px;
}


.degree {
	width: 20px;
	height: 20px;
	background: #ffffff;
	margin-left: 172px;
	margin-top: -10px;
	border-radius: 50%;
}


.container {
	width: 1165px;
	height: 400px;
	margin-top: 100px;
	position: absolute;
}
.container h2 span {
	font-weight: bold;
	font-size: 30px;
	position: absolute;
	
}


.best-seller {
	position: relative;
	margin-top: 70px;
	height: 325px;
	width: 100%;
	display: flex;
	gap: 20px;
	overflow: auto;
}
.best-seller-img {
	align-items: end;
	border-radius: 3px;
	display: flex;
	height: 325px;
	padding-bottom: 10px;
	position: relative;
	background-color: antiquewhite;
	width: 290px;
	overflow: clip;
}
.best-seller-img {
	align-items: end;
	border-radius: 3px;
	display: flex;
	height: 325px;
	padding-bottom: 10px;
	position: relative;
	background-color: antiquewhite;
	width: 290px;
}


#disply {
	width: 291px;
	height: 30px;
	background: red;
	margin-top: -2px;
	margin-left: -24px;
}

#kfc span {
    background: red;
    width: 15px;
    height: 22px;
}

.wdp-ribbon {
	background-color: #ea002a !important;
	background-color: var(--theam) !important;
	border-radius: .25em;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-weight: 800;
	height: 28px;
	line-height: 24px;
	padding: 2px 3px;
	position: absolute;
	right: 0;
	text-align: center;
	text-shadow: none;
	top: 70px;
	vertical-align: initial;
	white-space: nowrap;
	width: 80px;
}


.wdp-ribbon-two::before {
	/* border-width: 26px !important; */
	border-bottom: 14px solid transparent;
	border-left: 40px solid transparent;
	border-right: 9px solid #ea002a;
	border-right-color: red;
	border-top: 15px solid transparent;
	content: "";
	display: inline-block;
	left: -70px;
	position: absolute;
	top: 0;
}
.align-items-end {
	align-items: flex-end !important;
}

.rs-title {
	font-size: 14px;
	font-weight: 600;
	margin-left: 41px;
}

.pkr-title {
	font-weight: 800;
	margin-right: 7px;
}


.best-seller-img h6 {
	color: #000;
	cursor: pointer;
	font-size: 26px;
	left: 18px;
	position: absolute;
	top: 16%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.bestseller-container {
	border-radius: 10px 10px 0 10px;
	cursor: pointer;
	width: 290px;
}

.kfc-box {
	display: flex;
	gap: 7px;
	left: 50%;
	position: absolute;
	top: 0;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	z-index: 9;
}
#container {
	margin-bottom: 3rem !important;
	width: 100%;
	height: 600px;
	margin-top: 530px;
}

.items-title {
	font-weight: 600;
	margin-top: 40px;
	position: relative;
	text-transform: uppercase;
}

.items-title::before {
	background-color: #ea002a;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	width: 60px;
	z-index: -1;
	margin-top: 37px;
}

.card.menu-card {
	background: antiquewhite;
	width: 261px;
	height: 408px;
	top: 65px;
	bottom: 40px;
	border: none;
	transition: all .3s;
	padding: 15px 10px 35px;
	box-shadow: 0 2px 8px 0 rgba(99,99,99,.2);
	position: relative;
	color: #000;
	margin-right: 12px;
}

.manu-img-item {
	width: 100%;
	height: 100%;
	transition: all .3s;
	overflow: hidden;
}

.card-img-top.card-img {
	transition: all .3s;
}

#btn-items {
	background-color: initial;
	border: none;
	color: #e41837;
	float: right;
	font-size: 28px;
	line-height: 30px;
	position: absolute;
	right: 0;
	top: 5px;
}

.card-title {
	font-weight: bold;
}
.kfc-price {
	font-weight: bold;
}

.price-label {
	margin-bottom: -35px;
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	text-align: center;
}
.ri-add-line.rgeister-btn.Add-web.px-2 {
	font-size: 15px;
	text-transform: uppercase;
	white-space: nowrap;
	border: none;
	padding: 0;
	margin-top: 66px;
	background: red;
	border-radius: 10px;
	height: 40px;
	color: #fff;
	font-weight: bold;
	width: 174px;
}

#magerment {
	display: block ruby;
}

.card-img-top.card-img:hover {
	transform: scale(1.1);
}


.ri-add-line.rgeister-btn.Add-web.px-2:hover {
	background-color: #fff;
	color: red;
	font-weight: bold;
	
}

.grid-main {
	width: 1140px;
	height: 800px;
	margin-top: 1140px;
	display: flex;
}

.g-box {
	width: 100%;
	height: 365px;
	display: flex;
	justify-content: space-around;
}

.g-item {
	width: 49%;
	height: 364px;
	border-radius: 10px;
	overflow: hidden;
	background-color: rgb(168, 209, 245);
}

.g-item img {
	width: 100%;
	height: 100%;
}

.sec-box {
	width: 84%;
	height: 365px;
	display: flex;
	justify-content: space-around;
	margin-top: 419px;
	position: absolute;
}

.pic-size {
	width: 400px;
	height: auto;
	margin: auto;
}

.g-item button {
	background-color: #ea002a;
	border: none;
	border-radius: 6px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
	padding: 10px 38px;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.g-item h5 {
	font-weight: 900;
	line-height: 1.2;
	margin-bottom: 1.5rem;
	margin-top: 0;
	font-size: 20px;
	text-align: center;
}

.footer-container {
	width: 100%;
	height: 600px;
}

.head {
	width: 1137px;
	height: 600px;
	margin-left: 105px;
	margin-right: 105px;
	margin-top: 45px;
	padding-top: 80px;
}
.social-container {
	margin-bottom: 20px;
	width: 100%;
	height: 71px;
	display: flex;
	justify-content: center;
}
.social-icons {
	margin-top: 16px;
}

.social-container img {
	width: 75px;
	height: 75px;
	margin-right: 40px;
}

.bi.bi-youtube {
	font-size: 25px;
	color: red;
	text-align: center;
	margin-right: 10px;
}
.bi.bi-instagram {
	font-size: 25px;
	color: red;
	text-align: center;
	margin-right: 10px;
}

.bi.bi-facebook {
	font-size: 25px;
	color: red;
	text-align: center;
}

.bi-youtube::before {
	width: 40px;
	height: 40px;
	background-color: #ecc9;
	border-radius: 50%;
	content: "\f62b";
	padding: 7px;
}

.bi-instagram::before {
	content: "\f437";
	width: 40px;
	height: 40px;
	background-color: #ecc9;
	border-radius: 50%;
	padding: 7px;
}

.bi-facebook::before {
	content: "\f344";
	width: 40px;
	height: 40px;
	background-color: #ecc9;
	border-radius: 50%;
	padding: 7px;
}


.row-size {
	width: 100%;
	height: 300px;
}
#row-size {
	width: 100%;
	margin-left: 0px;
}

.col-md-3 {
	width: 285px;
	height: 210px;

}

.footer-info a {
	list-style: none;
	text-decoration: none;
	font-size: 15px;
	color: #000;
	font-weight: bold;
}

.footer-info a:hover {
	color: red;
	transition: all .5s ease;
}

.app-kfc img {
	margin-bottom: 20px;
}

.power-by {
	width: 100%;
	height: 80px;
	display: flex;
	padding-top: 80px;
}

.mt-0 {
	font-size: larger;
	color: #938e8e;
}

.right {
	padding-left: 542px;
}

.right h1 {
	font-size: 2.5rem;
	color: red;
	font-weight: 600;
}

.right a {
	color: #000;
}

.right a:hover{
	color: red;
}

